.hero {
  background: url(../../assets/aboutus-hero-image.png);
  background-size: cover;
  height: 50vh;
}

.bg-overlay {
  padding: 2rem;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.hero-text {
  width: 75%;
  margin: auto;
  text-align: center;
}

.heading {
  line-height: 1;
  padding: 2rem;
  color: white;
}

.text {
  color: white;
  font-size: 18px;
  line-height: 1.3;
}
