.hero {
  padding: 2rem;
}

.hero-text {
  width: 75%;
  margin: auto;
  text-align: center;
}

.heading {
  line-height: 1;
  padding-bottom: 2rem;
}

.text {
  font-size: 18px;
  line-height: 1.3;
}
