.container {
  padding: 2rem;
  text-align: center;
}

.container h2 {
  padding: 2rem;
  line-height: 1.2;
}

.container p {
  width: 70%;
  margin: auto;
  padding: 2rem;
  font-size: 18px;
}

.cta {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
