.container {
  background-color: var(--color-gray-100);
  display: flex;
  flex-direction: column;
}

.story-container {
  padding: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;

  gap: 2rem;
}

.left {
  padding: 0 3rem;
}

.left h2 {
  padding: 2rem 0;
}

.right {
  /* padding: 2rem; */
  height: auto;
  width: 360px;
  justify-self: center;
  border-radius: 10px;
}
