.team-sec {
  padding: 2rem;
}

.team-container {
  width: 80%;
  margin: auto;
}

.heading {
  text-align: center;
  line-height: 1;
  padding-bottom: 2rem;
}

.text {
  width: 80%;
  margin: auto;
  font-size: 18px;
  text-align: center;
  line-height: 1.3;
  padding-bottom: 3rem;
}

.team {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
}
