.card {
  flex: 1 1 200px;
  border-radius: 10px;
}

.profile-img {
  border: solid 2px var(--color-gray-900);
  border-radius: 300px;
  max-width: 180px;
  max-height: 180px;
}

.details {
  padding: 0.5rem;
}

.details p:nth-child(2) {
  font-size: 0.9rem;
}
