.card {
  flex: 1 1 200px;
  border-radius: 10px;
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; */
}

.card img {
  border: solid 1px var(--color-primary-300);
  border-radius: 300px;
  max-width: 200px;
  max-height: 200px;
}

.details {
  color: var(--color-gray-800);
  padding: 1rem;
}

.details p {
  padding-bottom: 0;
}
