.card {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.card img {
  border: solid 1px var(--color-primary-300);
  border-radius: 300px;
  max-width: 200px;
}

.details {
  color: var(--color-gray-800);
  padding: 1rem;
}

.details p {
  padding-bottom: 0;
}
