.plans-sec {
  padding: 2rem;
  margin: auto;
  width: 100%;
}

.plans-sec h2,
h3 {
  text-align: center;
  padding: 2rem 0;
}

.plans-sec menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  border-bottom: solid 2px var(--color-gray-800);
}

.plans-sec li {
  list-style: none;
}

.plans-sec button {
  border: 0;
  border-radius: 5px 5px 0 0;
  background-color: var(--color-gray-200);
}

.plans-sec button:hover {
  box-shadow: none;
  background-color: var(--color-primary-200);
}

.plans-sec button.active {
  background-color: var(--color-gray-800);
  color: var(--color-primary-200);
}

.plans {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
