.reason-card-container {
  flex: 1 1 max(200px, 40%);

  background-color: white;
  border: solid 2px var(--color-gray-800);
  border-radius: 10px;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  text-align: center;
}

.reason-card-container div {
  width: 80px;
}

.reason-card-container img {
  width: 100%;
}

.reason-card-container h3 {
  font-size: 1.5rem;
}
