.section2-container {
  background-color: #d0ebf5;
  padding: 2rem;
}

.section2-heading {
  text-align: center;
  padding: 1rem;
}

.reasons-container {
  width: 90%;
  margin: auto;
  padding: 1rem;
}

.reasons-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 2rem;
}
