.footer-container {
  background-color: var(--color-gray-800);
  color: var(--color-gray-100);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.socials-container i {
  padding: 0.75rem;
  border: solid 1px var(--color-gray-100);
  border-radius: 30px;
  margin: 0 1rem;
}
.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}

.footer-links a {
  font-size: 1.1rem;
  text-decoration: none;
  color: var(--color-gray-100);
}

.footer-links a:hover {
  text-decoration: underline;
}

.copyright {
  color: var(--color-gray-100);
  font-size: 0.875rem;
}
