.navbar-container {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.logo {
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: auto;
  cursor: pointer;
}

.menu-icon {
  display: none;
}

.menu-icon {
  border: none;
  background-color: transparent;
  box-shadow: none;
  padding: 0;
}

.menu-icon:hover {
  box-shadow: none;
}

.nav {
  display: flex;
  gap: 2rem;
}

.nav a {
  text-decoration: none;
  color: var(--color-gray-900);
  font-weight: 500;
  cursor: pointer;
}

.nav a:hover,
.nav a.active {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

@media screen and (max-width: 768px) {
  .menu-icon {
    display: block;
    z-index: 10;
  }

  .nav {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 5rem;
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(1rem);
    transition: 0.3s ease-in-out;
  }

  .open {
    right: 0;
  }
}
