@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900&family=Federo&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "DM Sans", sans-serif;
  /* font-family: "Federo", sans-serif; */
  font-size: 16px;

  --color-gray-100: #f4f3f1;
  --color-gray-200: #dddbd8;
  --color-gray-300: #ccc9c6;
  --color-gray-400: #aeaba7;
  --color-gray-500: #8a8784;
  --color-gray-600: #656360;
  --color-gray-700: #4b4a47;
  --color-gray-800: #31302e;
  --color-gray-900: #131313;

  /* --color-primary-50: #fdfff0; */
  --color-primary-50: #f4fad2;
  --color-primary-100: #dee7b3;
  --color-primary-200: #dbe892;
  --color-primary-300: #b9cb5c;
  --color-primary-400: #abc13c;
  --color-primary-500: #96b10b;
  --color-primary-600: #89a10a;
  --color-primary-700: #6b7e08;
  --color-primary-800: #536106;
  --color-primary-900: #3f4a05;
}

body {
  width: 100%;
  overflow-x: hidden;
  color: var(--color-gray-900);
}

main {
  padding-top: 4rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Federo", sans-serif;
  font-weight: normal;
  color: var(--color-gray-900);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
  font-weight: 500;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
  font-weight: 400;
}
h6 {
  font-size: 1.125rem;
  font-weight: 500;
}
p {
  color: var(--color-gray-900);
}

button {
  padding: 0.5em 2em;
  border-radius: 5px;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

button:hover {
  box-shadow: 2px 2px 0 var(--color-gray-900);
}

button.primary {
  color: var(--color-gray-800);
  background-color: var(--color-primary-200);
  border: solid 2px var(--color-gray-800);
}

button.primary:hover {
  /* color: var(--color-primary-200); */
  /* background-color: var(--color-gray-800); */
  box-shadow: 2px 2px 0 var(--color-gray-900);
}

button.secondary {
  color: var(--color-gray-800);
  background-color: transparent;
  border: solid 2px var(--color-gray-800);
}

button.secondary:hover {
  /* background-color: var(--color-primary-200); */
  box-shadow: 2px 2px 0 var(--color-gray-900);
}
